<div class="card">
  <div class="card-header">
    <h3 class="float-left">{{address.name}}</h3>
    <button (click)="remove()" class="float-right btn btn-danger">
      <i class="fa fa-trash"></i> Delete</button>
  </div>
  <div class="card-body">
    <p>
      <span style="padding-right: 10px;">
        <i class="fa fa-map-marker"></i>
      </span>
      <span>{{address.address}}</span>
    </p>
    <hr>
    <p>
      <span style="padding-right:10px;">
        <i class="fa fa-phone"></i>
      </span>
      <span>{{address.contactNo}}</span>
    </p>
  </div>
</div>
